.smothscroll {
  position: fixed;
  bottom: 25px;
  right: 30px;
  list-style: none;
  z-index: 99;
}
.smothscroll a {
  z-index: 1;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #EE1B22;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 7px rgba(178, 190, 205, 0.29);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
}
.smothscroll a:hover {
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .smothscroll a {
    width: 30px;
    height: 30px;
    line-height: 25px;
  }
}
