.serviceswrapper{
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('/images/servicebg.png');
}
.serviceswrapper .topheading{
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2.5em;
}
.packageBox {
    width: 97%;
    cursor: pointer;
    /* background-color: #fff; */
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.packageBox img {
    border-top-left-radius: 200px !important;
    border-top-right-radius: 200px !important;
    width: 100%;
}

.packageBoxHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004c4c;
    padding: 10px;
    border-radius: 50px;
    width: 85%;
    margin: auto;
    margin-top: -30px;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

.packageBoxHeading h4 {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

