.about-one {
    position: relative;
    background-color: var(--trevlo-white, #ffffff);
    padding: 0 0 160px;
    margin-top: 60px ;
}

.about-one__image {
    position: relative;
    margin: 28px 0 0;
}
.about-one__image__one {
    position: relative;
}
.about-one__image__one img {
    max-width: 100%;
    height: auto;
    border-radius: 119px;
}
.about-one__image__one img + img {
    margin-top: 16px;
}
.about-one__image__one img {
    max-width: 100%;
    height: auto;
    border-radius: 119px;
}

.about-one__image__one svg {
    width: 178px;
    height: 30px;
    stroke-width: 2px;
    stroke: #1c403a;
    position: absolute;
    left: 10px;
    bottom: -23px;
    fill: transparent;
    animation: zumpTop 3s infinite 
linear;
}
.about-one__image__two {
    position: relative;
}
.about-one__image__two svg {
    width: 163px;
    height: 75px;
    stroke-width: 2px;
    stroke:#1c403a;
    position: absolute;
    left: 0;
    top: -28px;
    fill: transparent;
    animation: zumpBottom 3s infinite 
linear;
}

.about-one__image__two img {
    max-width: 100%;
    height: auto;
    border-radius: 135px;
}

.about-one__image__two__shape {
    position: absolute;
    bottom: -147px;
    left: -100px;
}

.about-one__image__two__shape img {
    border-radius: 0;
    animation: zoomBig 3s 
linear infinite;
}
.about-one__counter {
    position: absolute;
    z-index: 2;
    left: -28px;
    bottom: -44px;
    width: 165px;
    height: 165px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-one__content {
    position: relative;
}
.about-one .sec-title {
    margin-bottom: 20px;
}

.sec-title__tagline {
    font-size: var(--trevlo-size-xl, 14px);
    color: #1c403a;
    line-height: 0.9;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 11px;
    font-weight: bold;
}

.sec-title__title, .sec-title__heading {
    font-size: var(--trevlo-size-8xl, 40px);
    line-height: 1.25;
    margin-bottom: 0;
}
.about-one__content__text {
    margin: 0 0 40px;
}
.about-one__box {
    display: flex;
    position: relative;
    min-height: 76px;
    padding: 0 0 0 97px;
    margin-bottom: 20px;
}
.about-one__box__icon {
    width: 76px;
    height: 76px;
    background-color:#1c403a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    font-size: 40px;
    color: var(--trevlo-white, #ffffff);
}
.about-one__box__icon::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 150%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #1c403a;
    transition: 700ms 
cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.about-one__box__icon span {
    position: relative;
    z-index: 2;
    display: inline-block;
    transition: all 500ms 
linear;
    transition-delay: 0s;
    transition-delay: 0s;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-one__box__title {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    min-width: 110px;
}

.about-one__box__text {
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0 5px 35px;
    margin: 0 0 0 42px;
    border-left: 1px solid var(--trevlo-white3, #EBE6DE);
}

.about-one__box__icon .icon-friendly-Guide {
    font-size: 50px;
}
.about-one__box__icon::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 150%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--trevlo-primary, #2D2330);
    transition-duration: 700ms;
    transition-timing-function: 
cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.about-one__content .trevlo-btn {
    margin-top: 30px;
}
.trevlo-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color:  #1c403a;
    color: var(--trevlo-white, #ffffff);
    font-size: var(--trevlo-size-2xl, 16px);
    font-family: var(--trevlo-font);
    font-weight: 700;
    padding: 20px 40px;
    line-height: 1;
    transition: 500ms;
    text-transform: capitalize;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}