/* globals.css */


.gray-simple {
    background: #f1f5f8 !important;
}

.g-2 {
    gap: 0.5rem !important;
}

.section-gap {
    padding: 5em 0 !important;
}

.heading-color {
    color: #004c4c !important;
}

.bg-color {
    background-color: #ee1b22 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.one-line-dot {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

a {
    text-decoration: none;
}

.card {
    border: none;
}

.object-fit-cover {
    object-fit: cover;
}

.x-small {
    font-size: x-small;
}

.hero-section {
    padding-top: 260px;
    position: relative;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    height: 100vh;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Black transparent overlay */
    z-index: 1;
}

.hero-section .content {
    z-index: 2;
}

/* Home Section 1 Css */

.home1 img {
    height: auto;
    width: 100%;
}

.home1 h2 {
    color: #004c4c;
    font-weight: 700;
}

.package-dates {
    background: #004c4c52;
    padding: 5px;
    color: #004c4c;
}

.package-card-img-banner {
    position: absolute;
    background: #004c4c;
    color: white;
    left: 10px;
    top: 10px;
    padding: 2px 15px;
    border-radius: 19px;
    font-weight: 700;
}

/* See Saudia Section Css */


.see-saudia .city-card {
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.see-saudia .city-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.see-saudia .city-name {
    background-color: #004c4c;
    color: white;
    font-weight: 600;
    padding: 10px 0;
}

.see-saudia .heading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #004c4c;
}

.see-saudia .heading span {
    display: inline-block;
    /* border-bottom: 4px solid #c4cc30; */
    padding-bottom: 4px;
}


/* Subscription Section Css */


.subscribe-section {
    background: url('/images/home/subscribebg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 30em;
    width: 100%;
}

.subscribe-section .text-section {
    color: #fff;
    z-index: 2;
}

.subscribe-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cf912182;
    /* Black transparent overlay */
    z-index: 1;
}

.subscribe-section .content {
    z-index: 2;
}

.home-package-category {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 7px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #a3a8a4;
}

.active-category {
    background-color: #004c4c;
    color: #fff;
    border: 1px solid #004c4c;
}

.home-package-section .card-img-top {
    object-fit: cover;
}




.borderr-end {
    border-right: 2px solid #ccc;
}


.home-package-section .swiper-pagination {
    position: relative !important;
    margin-top: 2em;
}

.nav-pills.lights .nav-link.active,
.nav-pills.lights .show>.nav-link {
    background: #ffffff8c;
    color: #fff !important;
}

.btn-success {
    background-color: #ee1b22;
    border-color: #ee1b22;
}

.nav-pills.medium .nav-link {
    font-size: 13px;
    padding: .7rem 1.2rem;
}

.nav-pills.lights .nav-link {
    background: #121212d6;
    color: #fff;
    cursor: pointer;
}

.height-25 {
    line-height: 2em;
}

.man-height,
.man-height .mantine-Input-wrapper {
    height: 2.8em;
}

.man-height input {
    height: 100%;
}

.form-control {
    border-color: #9f9f9f85;
    border-radius: 5px;
}

.form-control:active,
.form-control:focus,
.form-select:active,
.form-select:focus {
    box-shadow: none;
}

.person-selection {
    background-color: white;
    border-color: #9f9f9f85;
    color: #000000d7;
}

.person-selection:hover {
    background-color: white !important;
}


/* Hotel Search Css */

.e484bb5b7a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.c5aae0350e {
    margin-inline-end: 8px;
}

.e301a14002 {
    display: flex;
    align-items: center;
    border: 1px solid #86868654;
    border-radius: 4px;
}

.adult-modal-btn {
    background-color: initial;
    color: #EE1B22;
    border: none;
    outline: none;
    padding: .2rem .7em;
    font-size: 12px;
}

.kids-age-select {
    margin-top: 8px;
    width: calc(50% - 4px);
}

/* .navbar{
    position: absolute;
    color: #fff;
    z-index: 4;
} */
/* .navbar {
    background-color: #004c4c;
} */

.navbar-nav .active {
    font-weight: bold;
}


/* Blog Page CSS */

.blog-listing .content {
    padding: 25px 16px;
    transition: .5s;
}

.two-line-ellipsis {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-listing .image {
    height: 19em !important;
    object-fit: cover;
    width: 100% !important;
}

.page-title-section {
    height: 20em;
    color: white;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-header-bg {
    background-image: url('/images/blogbg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumHotel-bg {
    background-image: url('/images/3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.flight-bg {
    background-image: url('/images/flightbg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.package-bg-page {
    background-image: url('/images/hajj/hero-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.activity-bg-page {
    background-image: url('/images/activitybg.jpeg');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}
.about-bg-page {
    /* background-image: url('/images/about2.jpg'); */
    /* background-attachment: fixed; */
    background-color: #1e9f89d4;
    background-repeat: no-repeat;
    background-size: 100%;
}
.contact-bg-page {
    /* background-image: url('/images/about3.jpg'); */
    /* background-attachment: fixed; */
     background-color: #1e9f89d4;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrum-bg {
    background-image: url('/images/18.jpg');
    background-attachment: fixed;
}

.page-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000009e;
}

.page-title-section .container {
    z-index: 2;
}

.blog-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /* optional: center images */
}

/* About Us Page CSS */

.img-absolute {
    position: absolute;
    bottom: -100px;
    right: 8px;
}

.img-absolute img {
    max-width: 9em;
    border-radius: 50%;
    border: 10px solid #f2f4fb;
}

.ab-1 {
    height: 25em;
    width: 100%;
    object-fit: cover;
}

.flight-type .form-check {
    background: #80808040;
    padding: 5px 12px 5px 35px;
    border-radius: 17px;
    color: #000;
}

.flight-type .active {
    color: #004c4c;
    background: #004c4c40;
    border-radius: 17px;
    padding: 5px 12px 5px 35px;
}

.traveller button {
    background: white;
    border: 1px solid #80808047;
    border-radius: 5px;
    padding: 5px 14px;
    font-size: 14px;
    color: #000000bf;
}

.filter_box {
    background-color: #fff;
    border: 1px solid #ededed;
    margin-bottom: 25px;
    padding: 20px 20px 15px;
}

.filter_box #filters_col_bt {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.hotel-card img {
    width: 100%;
    height: 17em !important;
}

.Flight-sort-filter button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    color: #767676;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    gap: 8px;
    height: 64px;
    justify-content: space-between;
    outline: none;
    position: relative;
    width: 100%;
    padding: 12px 12px 12px 16px;
}

.Flight-sort-filter button:hover {
    background-color: #f1f5f8;
    border-color: #dfdfdf;
}

.Flight-sort-filter .fs-active::after {
    background-color: #004c4c;
    bottom: 0;
    content: "";
    height: 3.5px;
    left: 0;
    position: absolute;
    width: 100%;
}

.Flight-sort-filter .fs-active .FS-value {
    color: #004c4c;
    font-weight: 700;
}

.Flight-sort-filter .FS-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
    color: #000;
}

.Flight-sort-filter .FS-value {
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.flight-card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.flight-card:hover {
    border: 1px solid #004c4c17;
    box-shadow: 0 0 12px 3px #00800029;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1d4ed8;
}

.flight-card .flight-detail {
    border-left: initial;
    border-right: 1px dashed #dfdfdf;
    gap: .625rem;
    padding: 1.5rem .75rem 1.5rem 1rem;
}

.flight-card .flight-price {
    background: #004c4c;
    color: #fff;
    border-radius: 4px;
    padding: .3em 1em;
    font-size: 17px;
    font-weight: 700;
}

.flight-card .uQGhM9hOzQRK9YoXsjgZ {
    border-top: 2px solid #dfdfdf;
}

.bg-muted {
    background-color: #f8f9fa;
}

.why-choose-us .feature-card {
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 12px;
}

.why-choose-us .feature-card:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(0, 123, 255, 0.1);
    /* Bootstrap primary accent */
}

.icon-accent {
    color: #0d6efd;
    /* Bootstrap primary color */
}

.package-Detail .booking {
    background-color: rgba(128, 128, 128, 0.308);
}

.package-section {
    border: 1px solid #80808000;
    border-radius: 8px;
    padding: 1.3em;
    box-shadow: 0 0px 1px -8px #091e4200, 0 0 0 1px #091e421c;
}

.package-section .section-heading {
    padding: .6em;
    background: #004c4c;
    border-radius: 5px;
    color: #ffff;
    text-align: center;
}

.list-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004c4c;
    /* gold/brown */
    border-radius: 8px;
    /* diamond shape */
    /* transform: rotate(45deg); */
    margin-right: 12px;
    color: #fff;
    font-size: 16px;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.pckg-summary .summry-item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* .pakg-facilitiy .facility-card {
    background-color: #B49164;
    border-radius: 5px;
    color: white;
    text-align: center;
} */
.service-box {
    background-color: #004c4c;
    /* gold/brown */
    color: #fff;
    text-align: center;
    padding: 30px 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.service-box i {
    font-size: 32px;
    margin-bottom: 10px;
    display: block;
}

.service-box:hover {
    background-color: #1a6e2d;
    /* darker on hover */
    transform: translateY(-5px);
}

.service-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
}

.background-light {
    background-color: rgba(128, 128, 128, 0.363);
}

.pkg-detail-hotel-img {
    height: auto;
    width: 80%;
}

.pkg-transfer .tr-img {
    height: 7em;
    width: auto;
}

.hotel-detail-room-selection {
    background: #19875426;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.sticky-top-div {
    position: sticky;
    top: 10px;
    backdrop-filter: blur(4px);
}

.hotel-detail-room-selection .icon {
    color: #1a6e2d;
}

.placeholder {
    background-color: rgb(33 37 41 / 53%);
}

.multiline-ellipsis-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    /* ✅ helps clamp correctly */
    max-height: calc(1.8em * 3);
    /* ✅ 3 lines exactly */
}

.packge-card-notfound {
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.flight-line::before,
.flight-line::after {
    content: "";
    position: absolute;
    top: 70%;
    /* positions line vertically near the plane icon */
    width: 45%;
    height: 2px;
    background-color: #ccc;
}

.flight-line::before {
    left: 0;
}

.flight-line::after {
    right: 0;
}

.package-contact-section {
    background-image: url('/images/hajj/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    margin-top: 1em;
    position: relative;
}

.package-contact-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #004c4cec;
    z-index: 1;
}

.package-contact-section .text {
    position: relative;
    z-index: 3;
    color: #ffff;
}

.room-bg-color {
    background-color: #ddede6;
}

.font-size-16 {
    font-size: 1.1em !important;
}

.hotel-checkout-top {
    background: #80808026;
    border-radius: 11px;
    padding: 2em;
    margin-bottom: 2em;
}

.gm-ui-hover-effect {
    width: 36px !important;
    height: 25px !important;
}

.gm-ui-hover-effect span {
    width: 17px !important;
    height: 17px !important;
    margin: 8px !important;
}

.text-success {
    color: #EE1B22 !important
}

.quantity-box {
    width: 7em;
    padding: 6px 6px;
    border: 1.5px solid #d9e8e8;
    border-radius: 8px;
    background: #f3fffc;
}

.btn-qty {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #6b6b6b;
    cursor: pointer;
    line-height: 1;
    padding: 0 5px;
}

.qty-value {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.flight-details-more hr {
    color: #80808085;
}

.flight-details-more div {
    font-family: sans-serif;
}

.san-serif {
    font-family: sans-serif;
}

.flight-price-checkout {
    background-color: #004c4c;
    color: #fff;
}



.home-hotel-image {
    border-radius: 146px 146px 146px 0px;
    object-fit: cover;
    width: 100%;
}

.home-hotel-img-circle {
    position: absolute;
    bottom: -28px;
    left: 0px;
    font-size: 12px;
    background-color: #004c4c;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.fs-60 {
    font-size: 60px !important;
}

.item-single img {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

.blog-card-date {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    background-color: #004c4c;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.videoSwiper .swiper-wrapper {
    height: 36em !important;
}

.home-package-new-card {
    background-color: #fcf3d1;
    padding: 20px;
    border-top-right-radius: 170px;
    border: 3px solid #fcf3d1;
}

.home-package-new-card-header {
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
}

.home-package-icon {
    justify-content: center;
    width: 88px;
    height: 88px;
    /* background-color: #fbc50b; */
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-right: -28px;
}

.p-heading-top h4 {
    font-size: 22px;

}

.p-heading-top h5 {
    font-size: 33px;
    /* font-weight: 900; */
    color: #007d3a;
    padding-top: 10px;
    /* padding-bottom: 20px; */
}

.p-heading-top h5 span {
    font-weight: 400;
    padding-left: 10px;
    font-size: 16px;
    color: #000;
}

.home-package-new-card-body {
    background-color: #fff;
    padding: 30px;
    text-align: justify;
}

.home-package-new-card-body ul li {
    padding-bottom: 13px;
    display: flex;
    align-items: center;
}

.home-package-new-card-body ul li svg {
    padding-right: 13px;
    color: #fbc50b;
}

.home-package-button {
    padding: 13px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(251, 197, 11);
    width: 100%;
    font-size: 15px;
    margin-top: 16px;
    border-radius: 30px;
    font-weight: 500;
}
.home-package-button:hover {
    background-color: rgb(251, 197, 11);
    color: #000;
    transition: 0.3s;
}

.faq-accordion .mantine-UnstyledButton-root {
    background-color: #004c4c1a !important;
}
.text-justify {
    text-align: justify !important;
}
.flight-modify-search-wrapper{
    /* background-color: #ffffff; */
    padding: 2em 0em;
    margin-top: 1px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color:#004c4c
    
}

.exploreBtn{
    background-color: #EE1B22 !important;
    border-color: #EE1B22 !important;
}
.exploreBtn:hover{
    background-color: #c81419 !important;
    border-color: #c81419 !important;
}
