.hajj {
    font-family: "Arial", sans-serif;
    background-color: #f1fcf0;
}

.hajj .hero {
    background-image: url(../../../public/images/hajj/hero-bg.jpg);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: 50vh;
}

.hero h2 {
    color: white;
}

.hajj .hero .box {
    z-index: 1;
}

.hajj .hero .overLay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000bf;
    /* Black transparent overlay */
}
.svgbg{
    background-image: url(../../../public/images/hajj/bgsvj.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hajj .hajjsectionm {
    padding: 4em 0 7em 0;
}
