.confirmationWrapper {
  max-width: 800px;
  margin: auto;
}

/* Header (Orange top bar) */
.header {
  /* background-color: #1e7c32; */
  /* border-top-left-radius: 1rem;
  border-top-right-radius: 1rem; */
  position: relative;
}

.qrIcon {
  top: 10px;
  right: 1rem;
}

/* Info cards */
.infoCard {
  background-color: #fff7eb;
  border: 1px solid #fde68a;
  border-radius: 0.75rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}
.infoCard:hover {
  transform: translateY(-3px);
}

/* Price box */
.priceCard {
  background-color: #fef3c7;
  border: 1px solid #fcd34d;
}

/* Important Information box */
.infoBox {
  background-color: #eff6ff;
  border: 1px solid #bfdbfe;
}

@media (max-width: 768px) {
  .header h4 {
    font-size: 1.2rem;
  }
  .infoCard {
    text-align: center;
  }
  .priceCard {
    flex-direction: column;
    gap: 0.5rem;
  }
}
