.listenHolyQuranSection {
    background-image: url('/images/home/litenQuran.jpg');
    padding-bottom: 76px;
    position: relative;
}

.listenHolyQuranSection:before {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .5;
}

.listenHolyQuranHeading {
    padding-top: 160px;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
    position: relative;
    margin: auto;
}

.DonateContainer {
    background-image: url('/images/holybg.jpg');
    padding: 50px;
    position: relative;
    text-align: center;
    padding-bottom: 100px;
    width: 100%;
    padding-top: 84px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}